*{
    margin: 0;
    padding: 0;
    color: white;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(238, 213, 213, 0.5)20%, rgba(243, 235, 235, 0.5)20%), url(1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

a{
    text-decoration: none;
    color: white;
}


.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: brown;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-left: 1px;
}

.logo:hover{
    color: rgb(115, 22, 22);;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}



ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}

ul li a{
    text-decoration: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.3 ease-in-out;
    color: black;
}

ul li a:hover{
    color: RED;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: "Times New Roman";
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid rgb(105, 13, 13);
    margin-top: 13px;
    color: rgb(8, 8, 8);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;

}

.btn{
    width: 100px;
    height: 40px;
    background: rgb(105, 13, 13);
    border: 2px solid;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.btn:hover{
    background: rgb(37, 5, 5);

}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.form{
    width: 250px;
    height: 380px;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: relative;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    margin-left: 150px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: brown;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid white;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: sans-serif;
}

.header{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    font-size: 50px;
    font-weight: 100;
    color: #000;
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.text-content{
    font-size: 20px;
    color: #000;
}

.animated {
   
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
 }
 
 @-webkit-keyframes fadeInLeft {
    0% {
       opacity: 0;
       -webkit-transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateX(0);
    }
 }
 
 @keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translateX(-20px);
    }
    100% {
       opacity: 1;
       transform: translateX(0);
    }
 }
 
 .fadeInLeft {
 -webkit-animation-name: fadeInLeft;
 animation-name: fadeInLeft;
 } 
 animation-name: fadeInDown; 